@import url('https://fonts.cdnfonts.com/css/jetbrains-mono');
@import "tailwindcss";

:root,[data-theme="light"] {
    /* or beige/cream/neutral */
    --bg-color: #F9F8F6;
    --border-color: #D9CFC7;
    --button-bg: #f5ede6;
    --button-bg-2: #EFE9E3;
    --text-color: #b6946a;
    --text-color-2: #b3a28f;
}

[data-theme="dark"] {
    /* or midnight/teal */
    --bg-color: #101c22;
    --border-color: #3b4b54;
    --button-bg: #13a4ec;
    --button-bg-2: #1c2327;
    --text-color: #ffffff;
    --text-color-2: #9db0b9;
}

html,
body,
#app {
    background-color: var(--bg-color);
    height: 100%;
    overflow: hidden;
    font-family: 'JetBrains Mono', sans-serif;

}

